# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    paths: ["R/**"]

name: document.yaml

permissions: read-all

jobs:
  document:
    runs-on: ubuntu-latest
    steps:
      # 1. Use the BOT_PAT to check out the code
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.BOT_PAT }} # <-- CHANGE 1

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages:
            any::roxygen2
            any::pkgload

      - name: Document
        run: |
          pkgload::load_all()
          roxygen2::roxygenise()
        shell: Rscript {0}

      # 2. Configure git to use the bot's identity
      - name: Commit
        run: |
          # <-- CHANGE 2: Set bot's name and email
          git config --local user.name "pharmaverse-bot"
          git config --local user.email "pharmaverse-bot@users.noreply.github.com"

          git add DESCRIPTION NAMESPACE man/
          git commit -m "Re-document" || echo "No changes to commit"
          git push || echo "No changes to push"
