# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    paths:
      - .github/workflows/render-rmarkdown.yaml
      - README.Rmd
      - index.Rmd
      - 'vignettes/**' # Added vignettes as a common Rmd location
      - DESCRIPTION     # Added DESCRIPTION file trigger

name: render-rmarkdown

jobs:
  render-rmarkdown:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      # This step replaces setup-renv
      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          # This will install all packages in your DESCRIPTION file
          # (Depends, Imports, LinkingTo, and Suggests)
          packages: any::rmarkdown

      - name: Render RMarkdown
        run: |
          Rscript -e "rmarkdown::render_site(encoding = 'UTF-8')"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
